@charset "UTF-8";

*{
    font-family: 'Times New Roman', Times, serif;
   
}
body{
    background-image: linear-gradient(to bottom,#D9D9D9,#A6A6A6) ;

}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 25px #0994a7;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
color:#005004 ;
text-align: center;
text-shadow: 1px 1px 2px rgba(255, 205, 255, 0);
}
h2{
color: #056CF2;
}
p{
text-align: justify;
}