@charse "UTF-8";

body{
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    font-style: initial;

}
h1{
    color: blue;
    background-color: bisque;
}
h2{
    color: cadetblue;
    background-color: cornsilk;
}
p{
    text-align: center;
}